.text {
	font-family: Tahoma, Arial;
	font-size: 11px;
}
input {
	font-family: Tahoma, Arial;
	font-size: 11px;
}
select {
	font-family: Tahoma, Arial;
	font-size: 11px;
}
textarea {
	font-family: Tahoma, Arial;
	font-size: 11px;
}
