vti_encoding:SR|utf8-nl
CompanyShortName:SW|Cangelosi
GeneratedBy:SW|FrontPage Corporate Presence Web Wizard
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
vti_longfilenames:IX|1
vti_hassearchbot:BR|true
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_dependenciesood:IR|0
vti_httpdversion:SX|FrontPage DBW
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
CompanyFAX:SW|619-544-9702
vti_copytimestamp_http\://www.decengineers.com/cangelosi:TR|19 Feb 2002 14:35:10 -0800
vti_restartmanual:IX|0
vti_borderdefault:SR|tlb
CompanyEmail:SW|vacngelosi@cangelosiinsurance.com
vti_navbuttonhomelabel:SR|Home
vti_missingoverlays:VX|
CompanyWebmaster:SW|nimajneb3@hotmail.com
vti_navbuttonnextlabel:SR|Next
vti_themedefault:SR|bubbles 011
vti_structfrom_cx46631-b\:80/cangelosiver4:TR|16 Jan 2002 22:03:28 -0800
vti_textindexood:IR|1
vti_missingoverlaylabels:VX|
vti_defaultcharset:SR|none
CompanyLongName:SW|Cangelosi Insurance Agency
vti_navbuttonprevlabel:SR|Back
CompanyAddress:SW|625 Broadway Suite 711
vti_oldestcompatibleversion:SR|2.0.0.0
vti_textextensions:SX|.txt.
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Up
vti_defaultlanguage:SR|en
vti_timecreated:TR|04 Jan 2002 00:25:26 -0800
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
CompanyPhone:SW|619-525-3939
vti_webservertype:SR|diskweb
vti_structto_www.decengineers.com\:80/cangelosi:TR|16 Jan 2002 22:03:28 -0800
